@model UsuarioEditarFuncoesViewModel

@{
    ViewData["Title"] = "EditarFuncoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funções do Usuário @Model.NomeCompleto</h2>
<h5>@Model.UserName</h5>
<h5>@Model.Email</h5>
<hr/>

<form method="post" asp-controller="Usuario" asp-action="EditarFuncoes"> 
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)

        <h4>Selecione as Funções</h4>
        <br />
        <hr />
        <table>
            <tr>
                <th>
                    Selecionado
                </th>
                <th>
                    Função
                </th>
            </tr>
            @Html.EditorFor(modelo => modelo.Funcoes)
        </table>
        <br />
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default">
            </div>
        </div>
    </div>
</form>