@{
    ViewData["Title"] = "Carrinho";
}

@model ItemPedido

<br />

<h3>Meu Carrinho</h3>
<br />
<h5>Número do Pedido: @(Model.Id)</h5>

<div class="panel panel-default" id="Carrinho">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 text-center">Item</div>
            <div class="col-md-4 text-center">Categoria</div>
            <div class="col-md-2 text-center">Orientador</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row row-center">
            <div class="col-md-3">
                <img src="~/images/Produtos/@(Model.Produto.Arquivo)" />
            </div>
            <div class="col-md-3 text-center">@(Model.Produto.Nome)</div>
            <div class="col-md-4 text-center">@(Model.Produto.Categoria)</div>
            <div class="col-md-2 text-center">@(Model.Produto.Orientador.Nome)</div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                @(Model.Produto.Curso.Nome)
            </div>
            <div class="col-md-2">
                @(Model.Produto.Curso.Sigla)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <a asp-action="resumo" 
          class="btn btn-success pull-right">
           Finalizar Pedido
        </a>   
    </div>
</div>

@*@Html.Partial("~/Views/Modals/CarrinhoAlerta.cshtml")*@

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Carrinho.js"></script>