@{
    ViewData["Title"] = "Carrosel";
}

<br /><br />

@model E_Conc.Models.ViewModels.CarrosselViewModel

<div id="my-carouselDesenvolvimento" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <h3>Desenvovimento</h3>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.DesenvolvimentoViewModel.Produtos)
            </div>
        </div>

        <div class="item">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.DesenvolvimentoViewModel.Produtos)
            </div>
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#my-carouselDesenvolvimento" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carouselDesenvolvimento" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br />

<div id="my-carouselEmpreendedorismo" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <h3>Empreendedorismo</h3>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.EmpreendedorismoViewModel.Produtos)
            </div>
        </div>

        <div class="item">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.EmpreendedorismoViewModel.Produtos)
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#my-carouselEmpreendedorismo" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carouselEmpreendedorismo" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br />

<div id="my-carouselIniciacaoCientifica" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <h3>Iniciação Científica</h3>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.IniciacaoCientificaViewModel.Produtos)
            </div>
        </div>

        <div class="item">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.IniciacaoCientificaViewModel.Produtos)
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#my-carouselIniciacaoCientifica" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carouselIniciacaoCientifica" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br/>

<div id="my-carouselPesquisaAcademica" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <h3>Pesquisa Acadêmica</h3>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.PesquisaAcademicaViewModel.Produtos)
            </div>
        </div>

        <div class="item">
            <div class="row">
                @Html.Partial("~/Views/Partials/CarrosselPartial.cshtml", Model.PesquisaAcademicaViewModel.Produtos)
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#my-carouselPesquisaAcademica" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#my-carouselPesquisaAcademica" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>