@{
    ViewData["Title"] = "Carrinho";
}

@model ItemPedido

<br />

<h3>Meu Carrinho</h3>
<br />
<h5>Número do Pedido: @(Model.Id)</h5>

<div class="panel panel-default" id="Carrinho">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 text-center">Item</div>
            <div class="col-md-4 text-center">Categoria</div>
            <div class="col-md-2 text-center">Orientador</div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row row-center">
            <div class="col-md-3">
                <img src="~/images/Produtos/@(Model.Produto.Arquivo)" />
            </div>
            <div class="col-md-3 text-center">@(Model.Produto.Nome)</div>
            <div class="col-md-4 text-center">@(Model.Produto.Categoria)</div>
            <div class="col-md-2 text-center">@(Model.Usuario.Nome)</div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                @(Model.Produto.Curso.Nome)
            </div>
            <div class="col-md-2">
                @(Model.Produto.Curso.Sigla)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <a asp-action="RemoverItemDoCarrinho" 
               asp-route-itemPedido="@(Model.Id)"
               class="btn btn-danger">
                Remover Item do Carrinho
            </a>
            <button class="btn btn-success" id="resumoButton">
                Finalizar Pedido
            </button>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Modals/CarrinhoAlerta.cshtml")
@Html.Partial("~/Views/Modals/FinalizarPedido.cshtml", Model)

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Carrinho.js"></script>