@{
    ViewData["Title"] = "Resumo";
}

@model ItemPedido

<br />

<h3>Resumo do Pedido</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Nº Do Pedido: @(Model.Id)</h3>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-8">
                <h3>Seus Dados</h3>
                <div>Nome: @(Model.Aluno.Nome)</div>
                <div>Tel: @(Model.Aluno.Telefone)</div>
                <div>RA: @(Model.Aluno.Ra)</div>
                <div>Instituição: @(Model.Aluno.Instituicao)</div>
                <div>Sigla: @(Model.Aluno.InstituicaoSigla)</div>
                <div>Curso: @(Model.Produto.Curso.Nome)</div>
                <div>Sigla: @(Model.Produto.Curso.Sigla)</div>
            </div>
            <div class="col-md-4">
                <h3>Endereco de Entrega</h3>
                <div>@(Model.Aluno.Nome)</div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-8">
                <h3>Item</h3>
                <div>@(Model.Produto.Nome)</div>
            </div>
            <div class="col-md-4">
                <h3>Categoria</h3>
                <div>@(Model.Produto.Categoria)</div>
            </div>
        </div>
    </div>
</div>