@model Produto

@{
    ViewData["Title"] = "Cadastrar Projeto";
}

<form role="form" method="post" asp-controller="Produto" asp-action="Editar">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="Arquivo" value="@Model.Arquivo">
    <input type="hidden" asp-for="Disponivel" value="@Model.Disponivel">
    <input type="hidden" asp-for="Usuario" value="@Model.Usuario.Id">
    <br /><br />
    <br /><br />
    <input type="text" placeholder="Nome" required class="form-control input-lg"
           asp-for="Nome" value="@Model.Nome" />
    <br />
    <input type="text" placeholder="Descrição" required class="form-control input-lg"
           asp-for="Descricao" value="@Model.Descricao" />
    <br />
    @Html.DropDownList("Categoria", new SelectList(Enum.GetValues(typeof(Categoria))),
          "Ver Todas as Categorias", new { @class = "form-control" }
    )
    <br />
    @Html.DropDownList("Curso", new SelectList(Enum.GetValues(typeof(Curso))),
          "Cursos",  new { @class = "form-control"}
    )
    <br /> <br />
    <label>Qual conhecimento o aluno deve ter para realizar este projeto? Cadastre um ou mais requisitosseparados por vírgula (exemplo: C#, Sql, etc.)</label>
    <input type="text" placeholder="Requisitos" required class="form-control input-lg"
           asp-for="Requisitos" value="@Model.Requisitos" />
    <br /> <br />
    <br />
    <button type="submit" class="btn btn-lg btn-primary btn-block">Salvar</button>
    <br />
</form>