@{
    ViewData["Title"] = "Finalizar Projeto";
}

@model FinalizarProjetoViewModel

<br /><br />

<h3>Finalizar Projeto</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Projeto: </h3>@(Model.Produto.Nome)
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>Dados do Projeto</h3>
                <div>Descrição: @(Model.Produto.Descricao)</div>
                <div>Curso: @(Model.Produto.Curso)</div>
                <div>Requisitos: @(Model.Produto.Requisitos)</div>
            </div>
        </div>
        <br /><br />
              <form role="form" method="post" asp-controller="Produto" asp-action="FinalizarProjeto">
                  <input type="hidden" asp-for="@Model.ProdutoId">
                  <input type="text" placeholder="Considerações Sobre o Projeto" required
                         class="form-control input-lg" asp-for="InformacoesProjeto" />
                  <br />
                  <label>
                      O Projeto deve ficar disponível novamente para que outros alunos possa dar
                      continuidade no que foi feito?
                  </label>
                  <select class="form-control" 
                      asp-for="DeveSerDisponibilizado">
                      <option value="true">Sim</option>
                      <option value="false">Não</option>
                  </select>
                  <br /><br />
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Finalizar Projeto</button>
              </form>
        <hr />
    </div>
</div>

@Html.Partial("~/Views/Modals/FinalizarProjetoInfo.cshtml")

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(document).ready(function () {
        $('#FinalizarProjetoInfoModal').modal('show');
    });
</script>